# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Virtual env
venv/
.env

# Datasets
datasets/
data/mamba_wheels/

checkpoints/
*.pt
*.pth
*.ckpt
*.h5

# Logs/results
logs/
outputs/

# Large files
*.zip
*.tar.gz

# VS Code
.vscode/